body{
    font-family: 'Muli', sans-serif;
    background-color: #EDEEDE;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    color: #676666;
}

header{
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    display: flex;
    height: 150px;
    width: 100%;
}

.logo{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.nav{
    align-self: center;
    width: 340px;
    margin-top: 0px;
    margin-right: 0px;
    font-size: 20px;
}

.nav a{
    color: #EDEEDE;
	display: block;
    margin-left: 20px;
    text-decoration: none;
    padding-right: 30px;  
    text-align: right;
}

/*home*/
#home{
    margin-left:5%;
    margin-right: 5%;
}

h1{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 18px;
}

.wat{
    margin-left: 20px;
    margin-right: 10px;
}

.fases{
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    margin-top:10%;
    margin-bottom:10%;
}

.fase1{
    height: 60px;
    width: 60px;
    position: relative;
}

.fase2{
    height: 60px;
    width: 60px;
    position: relative;
}

.fase3{
    height: 60px;
    width: 60px;
    position: relative;
}

/*info*/
.info{
    display: flex;
    align-content:center;
    height: 900px;
}

.info__vers{
    background-image: url('images/vak.png');
    background-repeat: no-repeat;
    background-size: 70% 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 20%;
    padding-bottom: 8px;
    margin-bottom: 30px;
}

.plant{
    margin-top: 30px;
    width: 55px;
    margin-left:25%;
}

h2{
    text-align: left;
    margin-left:10%;
    font-size: 20px;
    width:80px;

}

.vers{
    width: 50%;
    margin-left: 10%;
    font-size: 16px;  
}

.info__lokaal{
    background-image: url('images/vak.png');
    background-repeat: no-repeat;
    background-size: 70% 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 20%;
    padding-bottom: 8px;
    margin-bottom: 30px;
}

.lokaal{
    width: 50%;
    margin-left: 10%;
    font-size: 16px;  
}

.pointer{
    margin-top: 30px;
    width: 55px;
    margin-left:25%;
}

.info__smart{
    background-image: url('images/vak.png');
    background-repeat: no-repeat;
    background-size: 70% 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 20%;
    padding-bottom: 8px;
    margin-bottom: 30px;
}

.smart{
    width: 50%;
    margin-left: 10%;
    font-size: 16px;  
}

.ding{
    margin-top: 30px;
    width: 55px;
    margin-left:25%;
}

/*bestellen*/
.kitD{
    display: flex;
    align-content:center;
    flex-direction: column; 
    margin-top:-10%;
    margin-left:5%;
    margin-right: 5%;
}

.diy{
    order: 0;
}

.txt{ 
    order: 1;
    margin-left: 20px;
    margin-right: 10px;
}

.button{
    order: 2;
    cursor: not-allowed;
    text-align: center;
    background-color: #9FB26D;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    color:#EDEEDE;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left:30%;
    margin-top:5%;
}

.kit{
    display: none;
}

/*prototypes*/
#app{
    display: none;
}

.app--kit{
    display: none;
}

.app--klant{
    display: none;
}

.app--teler{
    display: none;
}

/*uitleg apps*/
.uitlegheader{
    margin-left:10%;
    margin-right: 10%;
    font-size: 18px;
}

.uitleg{
    margin-left:10%;
    margin-right: 10%;
    font-size: 16px;
}

/*store*/
.google{
    height: 125px;
    width: 125px;
    margin-left: 9%;
    margin-right:5%;
}

.apple{
    height: 125px;
    width: 125px;
}

/*footer*/
footer{
    background-color: #9FB26D;
    display: flex;
    justify-content: center;
    font-size: 14px;
    height:80px;
}

@media screen and (min-width: 600px){

    .nav{
        align-self: center;
        width: 340px;
        margin-top: 0px;
        /* margin-right: -80%; */
        font-size: 20px;
        margin-left: 50%;
    }

    h1{
        font-weight: bold;
    }

    .fases{
        margin-top:2.5%;
        margin-bottom: 2.5%;
    }

    .fase1{
        width:90px;
        height: 90px;
        margin-left:10%;
        margin-right: -10%;
    }

    .fase2{
        width:90px;
        height: 90px;
    }

    .fase3{
        width:90px;
        height: 90px;
        margin-left:-10%;
        margin-right: 13%;
    }

    .diy{
        margin-top: 15%;
    }

    .uitlegheader{
        margin-left:7.5%;
        margin-right:7.5%;
        font-size: 18px;
    }
    
    .uitleg{
        margin-left:7.5%;
        margin-right:7.5%;
        font-size: 16px;
    }

    .google{
        height: 125px;
        width: 125px;
        margin-left: 28%;
        margin-right:5%;
    }
    
    .apple{
        height: 125px;
        width: 125px;
    }    
}

@media screen and (min-width: 1300px){
    .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 10%;
        width:500px;
    }

    .nav a{
        flex-grow: 4;
    }

    .logo{
        margin-left:100%;
        width:120px;
        height: auto;
    }

    h1{
        font-size: 20px;
        font-weight: bold;
        margin-left: 10%;
        margin-top: 5%;
    }

    .wat{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 18px;
    }

    .fases{
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .fase1{
        width:90px;
        height: 90px;
        margin-left:15%;
        margin-right: -15%;
    }

    .fase2{
        width:90px;
        height: 90px;
    }

    .fase3{
        width:90px;
        height: 90px;
        margin-left:-15%;
        margin-right: 18%;
    }

    #info{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left:7.5%;
        margin-right: 1%;
        }

    .info__vers {
        -webkit-order: 01;
        -ms-flex-order: 01;
        order: 01;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        height: 320px;
        width: 400px;
        margin-left:2%;
        }

    .info__lokaal{
        -webkit-order: 02;
        -ms-flex-order: 02;
        order: 02;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        height: 320px;
        width: 400px;
        margin-left: -2.5%;
        }

    .info__smart{
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        height: 320px;
        width: 400px;
        margin-left: -2.5%;
        }

    .diy{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 12.5%;
    }

    .txt{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    }

    .button{
        font-size: 20px;
        width: 200px;
        margin-left: 40.5%;
        margin-top:2%;
        margin-bottom: -1%;
    }

    #app{
        display: inline-block;
        height: 150%;
        margin-top: 2.5%;
    }

    .app--kit{
        display: block;
        height: 450px;
        margin-left: 30%;
    }

    .app--kit p{
        font-size: 18px;
        font-family: "Muli";
        font-weight: bold;
        text-align: center;
        margin-top:10%;
        width:600px;
        margin-left:43.5%;
    }
    
    .app--klant{
        display: block;
        height: 450px;
        margin-left: 20%;
    }
    
    .app--teler{
        display: block;
        height: 700px;
        margin-left:10%;
        font-size: 18px;
        font-family: "Muli";
        font-weight: bold;
    }

    .app--teler p{
        font-size: 18px;
        font-family: "Muli";
        font-weight: bold;
        text-align: center;
        margin-top:20%;
        width:600px;
        margin-left:58%;
    }

#app__info{
    margin-left:7.5%;
    margin-top: 5%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.uitlegheader{
    font-size: 18px;
    font-family: "Muli";
    font-weight: bold;
}

.uitleg{   
    font-size: 16px;
    font-family: "Muli";
}

.app__info--kit {
    width:300px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.app__info--klant {
    width:300px;
    height:230px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.app__info--teler {
    width:300px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

#store{
    margin-left: 36%;
    margin-right: 15%;
}

.google{
    margin-left: -80%;
}

}